:root {
    --base-color: rgb(0, 0, 72); /*use of css variables (custom properties)*/
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, white,lightblue, darkblue);
}

h1 {
    font-family: cursive;
    font-weight: bold;
    color: darkblue;
    text-decoration: underline;
}


.box {
    width: 350px;
    height: 575px;
    background-color: var(--base-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.digits:hover {
    background-color: rgb(176, 172, 172, 0.5);
}

.operator:hover {
    background-color: rgb(176, 172, 172, 0.5);
}

.equals:hover {
    background-color: rgb(0, 199, 0);
}

.equals {
    height: 70px;
    width: 70px;
}
.all_buttons button {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: var(--base-color);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}
.display {
    background-color: rgba(214, 214, 214, 0.2);
    color: white;
    width: 330px;
    height: 85px;
    margin-top: 10px;
}

#input_display {
    margin-top: 5px;
    font-size: large;
    color: white;
    text-align: right;
    overflow: auto;
}

#output_display {
    font-size: 25px;
    color: rgb(0, 199, 0);
    text-align: right;
    margin-top: 30px;
}

button:hover {
    transform: translateY(-4px);
}

#all_clear:hover {
    background-color: rgba(255, 0, 0, 0.607);
}
#clear:hover {
    background-color: rgba(255, 0, 0, 0.607);
}

span {
    color: skyblue;
    font-weight: 600;
}

.fa-linkedin {
    font-size: 25px;
    color: white;
}